# build folders
dist/
out/

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
/_tmp

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# JetBrains
.idea

# Jest test report
coverage/
jest.report.json
